@model PagingModel<AccountingDetailViewModel>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Data.FirstOrDefault().No)</th>
                <th>@Html.DisplayNameFor(m => m.Data.FirstOrDefault().Type)</th>
                <th>@Html.DisplayNameFor(m => m.Data.FirstOrDefault().Date)</th>
                <th>@Html.DisplayNameFor(m => m.Data.FirstOrDefault().Price)</th>
            </tr>

            @foreach (var accountingDetail in Model.Data) {
                <tr>
                    <td>@accountingDetail.No</td>
                    <td>@accountingDetail.Type</td>
                    <td>@accountingDetail.Date</td>
                    <td>@accountingDetail.Price</td>
                </tr>
            }

        </table>
        @Html.Pagger(Model.CurrentPage, Model.LastPage)
    </div>
</div>