@model IEnumerable<AccountingDetailViewModel>
<div id="AccountingDetail" class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>@Html.DisplayNameFor(m => m.Category)</th>
                <th>@Html.DisplayNameFor(m => m.Date)</th>
                <th>@Html.DisplayNameFor(m => m.Price)</th>
            </tr>
            @{
                int i = 0;
                foreach (var accountingDetail in Model) {
                    <tr>
                        <td>@(++i)</td>
                        <td>@Helper.Color(accountingDetail.Category)</td>
                        <td>@accountingDetail.Date.ToString("yyyy-MM-dd")</td>
                        <td>@accountingDetail.Price.ToString("#,0")</td>
                    </tr>
                }
            }
        </table>
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>